*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C1C1C;
  list-style: none;
  text-decoration: none;
}

.center{
  position: relative;
  display: block;
  background-color: #1C1C1C;
  height: 80px;
  width: 100%;
}

html,body{
  height: 100.3%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-image: url("img/Wallpaper.png");
}

hr{
  position: relative;
  border-color: #4e4a4a;
}

img{
  border-radius: 50%;
  border: 5px solid #05A869;
  height: 210px;
  width: 210px;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.menu{
  width: 1000px;
  height: 100%;
  display: block;
  margin: auto;
}

.logo{
  height: 100%;
  display: table;
  float: left;
}

.logo h1{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo h1 a{
  color: #05A869;
  font-size: 35px;
}

nav{
  float: right;
  height: 100%;
}

nav a{
  height: 100%;
  display: table;
  float: left;
  padding: 28px 20px;
}

nav a:last-child{
  padding-right: 0;
}

nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #EFEFEF;
}

nav a li span{
  color: #05A869;
}

section{
  background-color: transparent;
  margin-bottom: 50px;
}

section h1{
  color:#05A869;
  margin: auto;
  text-align: justify;
  display: table;
  padding: 10px;
  font-size: 30px;
}

section h2{
  color: #EFEFEF;
  margin: auto;
  text-align: justify;
  display: table;
  width: 1000px;
  font-size: 20px;
  text-indent: 55px;
}

section h2 a{
  color: #EFEFEF;
  text-decoration: underline #05A869;
} 

.primeiropg{
  animation: slide1 2s;
}

.segundopg{
  animation: slide2 4s;
}

.terceiropg{
  animation: slide1 6s;
}

.quartopg{
  animation: slide2 8s;
}

::-webkit-scrollbar{
  width: 4px;
}

::-webkit-scrollbar-thumb{
  background-color: #05A869;
}

@keyframes slide1{
  0% {transform: translateX(200px)}
  0% {opacity: 0}
  100% {transform: translateX(0px)}
  100% {opacity: 1}
}

@keyframes slide2{
  0% {transform: translateX(-200px)}
  0% {opacity: 0}
  100% {transform: translateX(0px)}
  100% {opacity: 1}
}
